*{
    background-color: white;
}

.my-order {
    width: 300px;
    height: 100vh;
    box-sizing: content-box;   
    display: grid;
    background-color: white;
    top: 60px;
    border-radius: 4px;
    border: 1px solid var(--very-light-pink);
    position: absolute;
    right: 0;
}
.title {
    font-size: var(--lg);
    margin-bottom: 40px;
    display: grid;
    justify-content: center;
}
.my-order-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.my-order-content {
    display: flex;
    flex-direction: column;
}

.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure {
    margin: 0;
    padding: 0 8px;
}
.shopping-cart figure img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart p:nth-child(3) {
    font-size: var(--md);
    font-weight: bold;
}

.totalOrder{
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    font-weight: bold;
    border-top: 1px solid var(--very-light-pink);
}
.checkoutButton{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 80%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    align-self: center;
}